.history-container h2 {
    color: black;
    padding: 20px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

.history-container {
    background: linear-gradient(to bottom, #31e7f4 10%, #ffffff 60%);
    min-height: 100vh;

    padding: 20px;

    display: flex;

    flex-direction: column;

    align-items: center;

}

.qr-codes-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    gap: 30px;

    padding: 20px;

}

.qr {
    text-align: center;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    position: relative;

    background-color: #ffffffc2;

    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.8), 2px 2px 6px rgba(6, 5, 5, 0.4);

    border-radius: 8px;

    display: flex;

    flex-direction: column;

    align-items: center;

    width: 200px;

    transition: transform 0.2s ease;

}

.qr:hover {
    transform: translateY(-5px);

}


.qr img {
    width: 10rem;

    padding: 10px;

    box-shadow: -2px -2px 6px #ffffff, 2px 2px 6px #060505;

    border-radius: 5px;

}

.qr h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.qr p {
    color: #555;
    font-size: 12pt;
    margin-bottom: 0;
}


.qr-btn {
    color: #007bff;

    cursor: pointer;
    border-radius: 5px;
    padding: 6px;
    position: absolute;

    top: 10px;

    right: 10px;

    font-size: 1.5rem;

    background-color: rgba(255, 255, 255, 0.7);

    border: 1px solid #ccc;
    transition: background-color 0.2s ease;
}

.qr-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #0056b3;

}

@media (max-width: 768px) {
    .qr {
        width: 45%;

    }
}

@media (max-width: 480px) {
    .qr {
        width: 90%;

    }
}