.sign-container {
    font-size: 11pt;
    background: linear-gradient(to bottom, rgba(47, 220, 255, 0.8), rgba(255, 255, 255, 0.5));
}

.signup-form {

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    margin: 20px;
    padding-left: 10px;
    align-items: left;
    width: 5.5rem;
}

@keyframes fadeInOnce {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sign-form {
    box-shadow: inset 2px 2px 8px rgba(109, 107, 107, 0.6), inset 2px 2px 6px rgba(100, 98, 98, 0.2);
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    animation: fadeInOnce 3s ease-in-out forwards;
}

form h2 {
    padding: 0;
}

.sign-form input {
    box-shadow: inset 2px 2px 6px rgba(109, 107, 107, 0.6), inset 2px 2px 6px rgba(100, 98, 98, 0.2);
    width: 90%;
    padding: 0.4rem;
    margin: 0.4rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.select-usertype select {
    box-shadow: inset 2px 2px 4px rgba(109, 107, 107, 0.6), inset 2px 2px 6px rgba(100, 98, 98, 0.2);
    flex-wrap: wrap;
    font-size: 11pt;
    padding: 6px 30px;
    border-radius: 8px;
    flex-direction: row;
    border-color: #ccc;
}

.select-usertype option {
    flex-wrap: wrap;
    font-size: 14pt;
    padding: 8px 20px;
    color: rgb(0, 213, 255);
}

.select-usertype {
    display: flex;
    margin-left: 8px;
}

.signup-btn {
    box-shadow: 2px 2px 8px rgba(109, 107, 107, 0.6), 2px 2px 6px rgba(100, 98, 98, 0.2);
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #0fb91d;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.g-btn,
.f-btn,
.x-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.g-btn:hover,
.f-btn:hover,
.x-btn:hover {
    transform: scale(1.1);
}

.social-buttons img {
    width: 35px;
    height: 35px;
}